[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "lib/lwgps"]
	path = lib/lwgps
	url = https://github.com/MaJerle/lwgps.git
